.home-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level-container {
    height: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ps2-level {
    height: 90%;
    width: 400px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    border: 1px solid rgb(110, 108, 108);
    font-family: arcade;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.ps2-level:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.ps2-level button {
    background-image: url('../images/ps2-preview.jpg');
    background-position: center;
    background-size: cover;
    border: none;
    width: 100%;
    height: 90%;
}